.banner {
    position: relative;
}

.bannerImage {
    height: 210px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.bannerImage-card, 
.bannerImage-card h1 {
    color: #111;  
}

.bannerImage-card h1 {
    font-size: 2.5em;
}


@media (min-width: 576px) {
    .bannerImage {
        height: 300px;
    }
    .bannerImage-card h1 {
        font-size: 3em;
    }
}
  
@media (min-width: 768px) {
    .bannerImage {
        height: 300px;
    }
    .bannerImage-card h1 {
        font-size: 4em;
    }
}
  
@media (min-width: 992px) {
    .bannerImage {
        height: 300px;
    }
}
  
@media (min-width: 1200px) {
    .bannerImage {
        height: 370px;
    }
}

@media (min-width: 1921px) {
    .bannerImage {
        height: 470px;
    }
}

