/*** CARD ***/

.cardImage .card {
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    border-radius: 0;
    border: none;
}

@media (min-width: 768px) {
    .cardImage .card {
        height: 250px;
        margin-bottom: 2em;
    }
}
  
@media (min-width: 992px) {
    .cardImage .card {
        height: 280px;
    }
}

@media (min-width: 1921px) {
    .cardImage .card {
        height: 340px;
    }
}


.cardImage .cardGrandient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(-180deg,transparent 23%,#000);
    opacity: .45;
    z-index: 1;
}

.cardImage .cardContent {
    background: linear-gradient(-180deg,transparent 20%,#000);
    color: #fff;
    padding: 1em;
    text-align: center;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
}

.cardImage .cardContent-title {
    color: white;
    font-weight: 400;
    font-size: 2em;
    padding-bottom: 0.3em;
}


.cardImage .cardContent p {
    margin-bottom: 0;
}


/*** CARD HOVER ***/

.card {
    transition: transform .25s ease-in;
    border-radius: 0;
}

.card:hover {
    transform: translate3d(0,-5px,0);
}

.card a:hover  {
    text-decoration: none;
    color: inherit;
}

.card a figure img {
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.card a figure:hover img {
    opacity: .5;
}

