.steps-meta {
    text-align: right;
    font-weight: bold;
    line-height: 2;
}
ul.steps-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.steps-list li {
    margin: 0.5em 0;
}
ul.steps-list li .label {
    background: var(--colorSecondary);
    padding: 1em;
}
ul.steps-list li .label h4 {
    display: inline;
    color: white;
}
ul.steps-list li .label .btn {
    margin: -0.25em 1em 0 0;
    padding: 0;
    width: 2em;
    height: 2em;
    float: left;
}
ul.steps-list li .label i:before {
    content: url('/assets/img/icon/plus.svg');
    width: 25px;
    height: 25px;
    display: inline-block;
    line-height: 1em;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
}
ul.steps-list li .desc {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0;
    transition: all 0.5s ease-in;
}
ul.steps-list li .desc .wrap {
    padding: 1em;
}
ul.steps-list li .desc p {
    margin: 0;
}
ul.steps-list li .action {
    text-align: right;
    padding-top: 1em;
}
ul.steps-list li.active .label {
    background-color: var(--colorPrimary);
    color: #222;
}

ul.steps-list li.active .label i:before {
    content: url('/assets/img/icon/minus.svg');
    width: 22px;
    height: 25px;
}
ul.steps-list li.active .desc {
    max-height: 22em;
    opacity: 1;
}
ul.steps-list li.complete .label {
    color: #999;
    cursor: pointer;
}
ul.steps-list li.complete .label i:before {
    content: url('/assets/img/icon/check.svg');
    width: 25px;
    height: 25px;
}
ul.steps-list li.current .label {
    cursor: pointer;
}


/* conditional */

#loosecomponts:checked ~ .conditional {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

#loosecomponts:not(:checked) ~ .conditional {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


