.spaceSection { padding: 7em 0; }
.spaceSectioTop { padding: 7em 0 0 0; }

.bgPrimary {
    background: var(--colorPrimary);
    color: white;
}
.bgTurquoise {
    background: var(--colorTurquoise);
    color: white;
}
.bg-light {
    background: #fff!important;
}

.textPrimary {
    color: var(--colorPrimary)!important;
}

.textTurquoise {
    color: var(--colorTurquoise)!important;
}

a.textPrimary {
    color: var(--colorPrimary)!important;
    border-bottom: 2px solid var(--colorSecondary);
} 
a.textPrimary:hover {
    color: var(--colorPrimary)!important;
    border-bottom: 2px solid var(--colorTertiary);
}

.placeholder {
    width: 400px;
    height: 205px;
    object-fit: cover;
}

.divider {
    border-top: 1px solid #ccc;
    max-width: 90%;
    margin: 20px auto;
}

@media screen and (min-width: 576px) {   
    .divider {
        border-top: 1px solid #ccc;
        max-width: 80%;
        margin: 25px auto;
    }
}

/*** BUTTONS ***/

.btn {
    border-radius: 0
}

.btn-primary {
    background: var(--colorPrimary);
    border: 1px solid var(--colorPrimary);
}

.btn-primary:hover {
    color: var(--colorPrimary);
    background: white;
    border: 1px solid var(--colorPrimary);
}

.btn-turquoise {
    background: var(--colorTurquoise);
    color: white!important;
    border: 1px solid white;
    border-bottom: none;
}
.btn-turquoise:hover {
    background: var(--colorTurquoise);
    color: white;
    border: 1px solid white;
    border-bottom: none;
}
.btn-turquoise:active,
.btn-turquoise:focus {
    background: var(--colorPrimary);
    color: white;
    border: 1px solid white;
    border-bottom: none;
}


.linkEvidence {
    border-bottom: 2px solid var(--colorSecondary);
    color: white;
}

.linkEvidence:hover {
    border-bottom: 2px solid var(--colorTertiary);
    color: white;
}

.linkClick:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.sticky-bottom {
    position: sticky;
    bottom: 0;
    z-index: 1020;
}

.imgGreyscale {
    filter: grayscale(100%);
    opacity: 0.7;
}