<template>
  <section>
    <div class="banner">
        <div class="bannerImage"
        :style="{'background-image': 'url(' + require('../assets/img/banner/navi.jpg') + ')'}">
            <div class="containerLarge p-4 p-sm-3 p-md-3 p-lg-4 p-xl-4">
                <div class="bannerImage-card
                            p-2 p-sm-3 p-md-3 p-lg-4 p-xl-5
                            text-center col-md-8 offset-md-2">
                    <h1>Getting Exellence</h1>
                    <!--<HelloWorld msg="Welcome to Your Vue.js App"/>-->
                </div>
            </div>
        </div>
    </div>
    <div class="cardList mt-4 mt-md-5 mt-lg-5 pt-lg-3">
          <div class="containerLarge">
              <div class="row">
                  <div class="col-12 col-md-8 offset-md-2 mb-3 mb-md-5">
                      <p class="lead text-center">
                        Alfa Laval is a leading global provider of specialized products
                        and engineering solutions based on its key technologies of
                        heat transfer, separation and fluid handling. The company’s equipment,
                        systems and services are dedicated to assisting customers in optimizing
                        the performance of their processes. </p>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                      <div class="cardImage">
                          <div class="card"
                          :style="{'background-image':
                          'url(' +require('../assets/img/products/prodotti.jpg') + ')'}">
                              <router-link class="nav-link" to="/products">
                              <div class="cardContainer">
                                  <div class="cardGrandient"></div>
                                  <div class="cardContent">
                                      <h2 class="cardContent-title">Products</h2>
                                  </div>
                              </div>
                              </router-link>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                      <div class="cardImage">
                          <div class="card"
                          :style="{'background-image':
                          'url(' +require('../assets/img/banner/size-your-system.jpg') + ')'}">
                              <a href="/size-your-system">
                              <div class="cardContainer">
                                  <div class="cardGrandient"></div>
                                  <div class="cardContent">
                                      <h2 class="cardContent-title">Size your system</h2>
                                  </div>
                              </div>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                      <div class="cardImage">
                          <div class="card"
                          :style="{'background-image':
                          'url(' +require('../assets/img/banner/contacts.jpg') + ')'}">
                              <a href="/contacts">
                              <div class="cardContainer">
                                  <div class="cardGrandient"></div>
                                  <div class="cardContent">
                                      <h2 class="cardContent-title">Contacts</h2>
                                  </div>
                              </div>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
</template>

<script>
// @ is an alias to /src
/* import HelloWorld from '@/components/HelloWorld.vue';

export default {
  name: 'Home',
  components: {
    HelloWorld,
  },
}; */
</script>
