<template>
  <section>
    <div class="pageBradcrumbs">
      <div class="containerLarge">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb small">
                  <li class="breadcrumb-item"><a class="linkClick" href="/">Home</a></li>
              </ol>
          </nav>
      </div>
    </div>
    <div class="banner">
      <div class="bannerImage"
          :style="{'background-image': 'url(' +
          require('../assets/img/banner/slide-01.jpg') + ')'}">
          <div class="containerLarge">
              <div class="pageTitle-banner text-center">
                  <div class="pageTitle-content">
                      <h1 class="mt-4">Products</h1>
                      <div class="divider"></div>
                      <p class="lead">Alfa Laval is today a world leader within
                        the key technology areas of heat transfer, separation
                        and fluid handling and process solutions remains at the
                        heart of everything we do. We dedicate our innovative
                        resources and focus to areas that are critical for our
                        customers’ success</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="cardList mt-5 mt-md-5 mt-lg-5 pt-lg-5">
      <div class="containerLarge">
          <div class="row">
            <!-- questo blocco si deve ripetere per ogni prodotto -->
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6
                  col-12 mb-2 mb-md-4 d-flex align-items-stretch">
                      <div class="card">
                          <div class="cardCategory">
                                <a>
                                  <div class="row">
                                      <div class="col-4 col-sm-12 text-center">
                                          <img
                                           class="img-fluid"
                                            src="../assets/img/products/c-bwt.jpg"
                                            alt=""
                                          >
                                      </div>
                                      <div class="col-8 col-sm-12 pl-0">
                                          <div class="card-body text-left text-sm-center">
                                              <h3 class="card-title">BWT</h3>
                                              <p>Ballast Water Treatment</p>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
  </section>
</template>
