<template>
  <div id='app'>
    <div id='nav'>
      <div id='mobileIos' class='installApp bgTurquoise'>
        <div class='containerLarge'>
          <div class='row align-items-center justify-content-between'>
            <div class='col-md-12 pt-2 pb-2'>
              <a class='text-white linkModal' @click="$bvModal.show('mobileIosModal')">
                Add the App for free ios
              </a>
              <button id='closeMobileIos' type='button' class='close text-white' aria-label='Close'>
                <span aria-hidden='true'>&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <b-modal  id='mobileIosModal' title='Add the App at home screen'
        hide-footer>
          To add the app to the home screen, click on the icon
          <img style='height:20px!important;' src='./assets/img/icon/share.svg' alt='' /> and
          click on <strong>Add to Home</strong>
      </b-modal>

      <div id='containerInstallApp' class='installApp bgTurquoise'>
        <div class='containerLarge'>
          <div class='row align-items-center justify-content-between'>
            <div class='col-md-12 pt-2 pb-2'>
              <a id='installApp' type='button' class='text-white buttonApp linkModal'
                >Add the App for free</a
              >
              <button
                id='closeContainerInstallApp'
                type='button'
                class='close text-white'
                aria-label='Close'
              >
                <span aria-hidden='true'>&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <section class='header'>
        <div class='containerLarge'>
          <nav class='navbar navbar-expand-lg bg-light px-0 navbar-toggleable-sm'>
            <a class='navbar-brand linkClick' href='/'>
              <img src='./assets/img/logo/logo-alfalaval.svg' alt='Alfa Laval Logo' />
            </a>
            <button
              class='navbar-toggler navbar-toggler-right collapsed'
              type='button'
              data-toggle='collapse'
              data-target='#collapsingNavbar'
            >
              <span> </span>
              <span> </span>
              <span> </span>
            </button>
            <div class='collapse navbar-collapse' id='collapsingNavbar'>
              <ul class='navbar-nav ml-auto mt-2 mt-lg-0'>
                <li class='nav-item active'>
                  <router-link class='nav-link' to='/'>Home</router-link>
                </li>
                <li class='nav-item'>
                  <router-link class='nav-link' to='/products'>Products</router-link>
                </li>
                <li class='nav-item'>
                  <router-link class='nav-link' to='/size-your-system'>
                    Size your system</router-link
                  >
                </li>
                <li class='nav-item'>
                  <router-link class='nav-link' to='/contacts'>Contacts</router-link>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </section>
    </div>
    <router-view />
    <section class='footer'>
      <div class='containerLarge'>
        <div class='row py-4'>
          <div class='col-sm-6 small text-center text-sm-left'>
            © 2020 ALFA LAVAL
          </div>
          <div class='col-sm-6 small text-center text-sm-right'>
            <ul class='list-inline mb-0'>
              <li class='list-inline-item'>
                <a class='linkEvidence linkClick' href='#'>Privacy Policy</a>
              </li>
              <li class='list-inline-item'>
                <a class='linkEvidence linkClick' href='#'>Cookie Policy</a>
              </li>
              <li class='list-inline-item'>
                <a class='linkEvidence linkClick' href='#'>Legal term and conditions</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  mounted() {
    let deferredPrompt;
    //container no ios
    const containerPromptButton = document.getElementById('containerInstallApp'); 
    const promptButton = document.getElementById('installApp'); //prompt scelta installazione

    const mobileIosAppv = document.getElementById('mobileIos'); //container
    const closeMobileIosA = document.getElementById('closeMobileIos'); //close container

    /*** MODALE PER IOS - SAFARI  ***/
    const isSafari = !!navigator.userAgent.match(/Version\/[\d.]+.*Safari/);
    const iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;

    if (isSafari || (isSafari && iOS)) {
      containerPromptButton.style.display = 'none';
      promptButton.style.display = 'none';
      mobileIosAppv.style.display = 'block';

      closeMobileIosA.addEventListener('click', (e) => {
        console.log('ios close', e);
        mobileIosAppv.style.display = 'none';
      });
    } else {
      console.log('non ci deve arrivre');
      containerPromptButton.style.display = 'block';
      const closeContainerInstallApp = document.getElementById('closeContainerInstallApp');
      closeContainerInstallApp.addEventListener('click', (e) => {
        console.log('other close', e);
        containerPromptButton.style.display = 'none';
      });

      // prevent default install prompt
      if (promptButton) {
        containerPromptButton.style.display = 'none';
      }

      window.addEventListener('beforeinstallprompt', (event) => {
        event.preventDefault();
        deferredPrompt = event;

        if (promptButton) {
          if (deferredPrompt) {
            // prompt has been requested
            containerPromptButton.style.display = 'inherit';
            promptButton.addEventListener('click', (e) => {
              // delegate the prompt to user action
              e.preventDefault();
              deferredPrompt.prompt();
              deferredPrompt = null;
            });
          }
        }
      });

      window.addEventListener('appinstalled', () => {
        // installed
        containerPromptButton.style.display = 'none';
        alert('App installata correttamente');
      });
    }
  },

};
</script>
<style></style>
